In [2]:
record = {1001: {"Name" : "5 star"          ,"Price" : 10 , "Qn" : 200}, 
          1002: {"Name" : "Bar-One"         ,"Price" : 20 , "Qn" : 100}, 
          1003: {"Name" : "Candy"           ,"Price" : 2  , "Qn" : 1000}, 
          1004: {"Name" : "Chocolate Cake"  ,"Price" : 510, "Qn" : 8}, 
          1005: {"Name" : "Blueberry Cake"  ,"Price" : 610, "Qn" : 5}}

In [4]:
record #key-value pairs

{1001: {'Name': '5 star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 510, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 610, 'Qn': 5}}

In [6]:
print(record[1001]["Name"])
print(record[1001]["Price"])
print(record[1001]["Qn"])

5 star
10
200

In [8]:
print(record[1004]["Name"])
print(record[1004]["Price"])
print(record[1004]["Qn"])

Chocolate Cake
510
8


 # Day 14

In [11]:
for key in record.keys():
    print(key)

1001
1002
1003
1004
1005

In [13]:
for key in record.keys():
    print(record[key])

{'Name': '5 star', 'Price': 10, 'Qn': 200}
{'Name': 'Bar-One', 'Price': 20, 'Qn': 100}
{'Name': 'Candy', 'Price': 2, 'Qn': 1000}
{'Name': 'Chocolate Cake', 'Price': 510, 'Qn': 8}
{'Name': 'Blueberry Cake', 'Price': 610, 'Qn': 5}

In [61]:
import json

record = {1001: {"Name" : "5 star"          ,"Price" : 10 , "Qn" : 200}, 
          1002: {"Name" : "Bar-One"         ,"Price" : 20 , "Qn" : 100}, 
          1003: {"Name" : "Candy"           ,"Price" : 2  , "Qn" : 1000}, 
          1004: {"Name" : "Chocolate Cake"  ,"Price" : 510, "Qn" : 8}, 
          1005: {"Name" : "Blueberry Cake"  ,"Price" : 610, "Qn" : 5}}

print("---------------MENU---------------\n")


for key in record.keys():
    print(key,":", record[key]['Name'],"|", record[key]['Price'],"|", record[key]['Qn'] )

print("-----------------------------------\n")

ui_pr = int(input("Enter Product ID : "))
ui_qn = int(input("Enter Quantity   : "))

print("-----------------------------------")
print("              Bill               \n ")

print("Name           : ", record[ui_pr]['Name'])
print("Price (Rs)     : ", record[ui_pr]['Price'],"Rs")
print("Quantity       : ", ui_qn)

print("-----------------------------------\n")
print("Billing Amount : ", record[ui_pr]['Price'] * ui_qn,"Rs" )
print("-----------------------------------\n")


js = json.dumps(record)

fd = open("Records.json",'w')

fd.write(js)
fd.close()

---------------MENU---------------

1001 : 5 star | 10 | 200
1002 : Bar-One | 20 | 100
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 510 | 8
1005 : Blueberry Cake | 610 | 5
-----------------------------------

Enter Product ID :  1002
Enter Quantity   :  2

-----------------------------------
              Bill

KeyError: 1002

In [63]:
record # in integer format

{'1001': {'Name': '5 star', 'Price': 10, 'Qn': 200},
 '1002': {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 510, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 610, 'Qn': 5}}

In [65]:
js = json.dumps(record) # in string format

In [67]:
fd = open("Records.json",'w')

fd.write(js)
fd.close()

In [69]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

# Day 15

In [72]:
js

'{"1001": {"Name": "5 star", "Price": 10, "Qn": 200}, "1002": {"Name": "Bar-One", "Price": 20, "Qn": 100}, "1003": {"Name": "Candy", "Price": 2, "Qn": 1000}, "1004": {"Name": "Chocolate Cake", "Price": 510, "Qn": 8}, "1005": {"Name": "Blueberry Cake", "Price": 610, "Qn": 5}}'

In [74]:
fd = open('Records.json','r')
js = fd.read()
fd.close()

In [76]:
json.loads(js)

{'1001': {'Name': '5 star', 'Price': 10, 'Qn': 200},
 '1002': {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 510, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 610, 'Qn': 5}}

In [78]:
js

'{"1001": {"Name": "5 star", "Price": 10, "Qn": 200}, "1002": {"Name": "Bar-One", "Price": 20, "Qn": 100}, "1003": {"Name": "Candy", "Price": 2, "Qn": 1000}, "1004": {"Name": "Chocolate Cake", "Price": 510, "Qn": 8}, "1005": {"Name": "Blueberry Cake", "Price": 610, "Qn": 5}}'

In [85]:
import json

fd = open('Records.json','r')
js = fd.read()
fd.close()

record = json.loads(js)

print("---------------MENU---------------\n")


for key in record.keys():
    print(key,":", record[key]['Name'],"|", record[key]['Price'],"|", record[key]['Qn'] )

print("-----------------------------------\n")

ui_pr = str(input("Enter Product ID : "))
ui_qn = int(input("Enter Quantity   : "))

record[ui_pr]['Qn'] = record[ui_pr]['Qn'] - ui_qn

print("-----------------------------------")
print("              Bill               \n ")

print("Name           : ", record[ui_pr]['Name'])
print("Price (Rs)     : ", record[ui_pr]['Price'],"Rs")
print("Quantity       : ", ui_qn)

print("-----------------------------------\n")
print("Billing Amount : ", record[ui_pr]['Price'] * ui_qn,"Rs" )
print("-----------------------------------\n")


js = json.dumps(record)

fd = open("Records.json",'w')
fd.write(js)
fd.close()

---------------MENU---------------

1001 : 5 star | 10 | 200
1002 : Bar-One | 20 | 100
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 510 | 8
1005 : Blueberry Cake | 610 | 5
-----------------------------------

Enter Product ID :  1001
Enter Quantity   :  11

-----------------------------------
              Bill

Name           :  5 star
Price (Rs)     :  10 Rs
Quantity       :  11
-----------------------------------

Billing Amount :  110 Rs
-----------------------------------

In [100]:
json

In [102]:
record = json.loads(js)

In [106]:
record['1001']['Name']

'5 star'