In [3]:
# def function_name(parameters):
#     #statements
#     return expression

def calculate_area(radius):
    area = 3.14 * radius**2
    return area

circle_area = calculate_area(4)
print(circle_area)

50.24

In [21]:
def greet(name, greetings='Hello'):
    message = f"{greetings} {name.upper()}"
    return message

print(greet('pooja'))

Hello POOJA

In [31]:
def student(firstname, lastname):
    print(firstname, lastname)

student(firstname = "Vickey", lastname = "Sharma")

Vickey Sharma

In [46]:
def print_values(*args, **kwargs):
    print("Positional argument=", args)
    print("Keyword arguments=", kwargs)

print_values(1, 2, 8, name='ram', age=65)

Positional argument= (1, 2, 8)
Keyword arguments= {'name': 'ram', 'age': 65}

In [64]:
def func_1(x):
    s = "My name is Ram"
    def func_2():
        return(s,x)
    return func_2()

closure = func_1(3.5)

print(closure)

('My name is Ram', 3.5)

In [68]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n*factorial(n-1)

fact = factorial(4)
print(fact)

24

In [70]:
def find_average(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

def filter_even(numbers):
    return [num for num in numbers if num % 2 == 0]

def reverse_list(input_list):
    return input_list[::-1]

def concatenate_lists(list1, list2):
    return list1 + list2

In [72]:
#module

def find_average(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

def filter_even(numbers):
    return [num for num in numbers if num % 2 == 0]

def reverse_list(input_list):
    return input_list[::-1]

def concatenate_lists(list1, list2):
    return list1 + list2

In [74]:
import list_operations()
avg = list_operations.find_average([4,5,6,3])
filter = list_operations.filter_even([4,3,2,6])
print(avg, filter)

SyntaxError: invalid syntax (1152859672.py, line 1)

In [76]:
from list_operations() import filter_even()
even = filter_even([5,6,3,3])
print(even)

SyntaxError: invalid syntax (971982198.py, line 1)

In [ ]:
import list_operations() as pp

evens = pp.find_average([2,44,55,66])
print()evens

In [96]:
import math

print(math.ceil(4.5))
print(math.floor(8.6))
print(math.trunc(2.4))
print(math.sqrt(2.4))
print(math.sin(2.4))
print(math.cos(2.4))
print(math.tan(2.4))
print(math.log(2,6))
print(math.exp(2.4))
print(math.pi)
print(math.e)

5
8
2
1.5491933384829668
0.675463180551151
-0.7373937155412454
-0.9160142896734107
0.3868528072345416
11.023176380641601
3.141592653589793
2.718281828459045

In [120]:
import random

print(random.random())
print(random.randint(1,20))
print(random.uniform(2.0, 9.0))

my_list = [4,6,7,3,2]
random.shuffle(my_list)
print(my_list)

list2 = [5,3,2,1,6]
print(random.choice(list2))

list3 = [3,4,5,6,7,8,9]
print(random.sample(list3, 3))

0.44056116083847685
10
2.836069038388643
[7, 4, 2, 3, 6]
6
[3, 6, 4]

In [130]:
from datetime import datetime
from datetime import date

print(datetime.now())
print(date.today())

2025-01-28 20:50:41.031756
2025-01-28

In [150]:
class Person:
    name = "Deepika"
    city = "Bareilly"
    age = 45

p1 = Person()
print(p1.name)
print(p1.city)
print(p1.age)

p1.name = "Rose"
print(p1.name)

# del p1.age
# print(p1.age)

Deepika
Bareilly
45
Rose

In [152]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.grades = []

    def add_grades(self, grade):
        self.grades.append(grade)

    def avg_grade(self):
        return sum(self.grades) / len(self.grades)

In [154]:
def describe(animal):
    animal.make_sound()

dog = Dog('woof')
cat = Cat('wiskers')

describe(dog)
descirbe(cat)

NameError: name 'Dog' is not defined

In [ ]:
class DataSet:
    def __init__(self, data):
        self.data = data

    def analyze(self):

        pass